params {
	
	// WORKFLOW PARAMETERS TO REVIEW AT EACH RUN
	// ----------------------------------------

    // path to parent directory of Nanopore reads in base-called FASTQ-format
    // Please note that the workflow expects FASTQs to be gzipped.
    fastq_dir = ""

    // CSV with 3 columns: barcode/sample ID, barcode, and reverse barcode.
    barcode_table = "$projectDir/resources/barcodes.csv"

    // CSV specifying primer IDs and sequences
    primer_table = "$projectDir/resources/primers.csv"
	
	// Where to place results
	results = "$launchDir/results"

	// Minimum required number of reads per sample
	min_reads = 50

    // whether to cleanup the work directory after a successful run
    cleanup = false
	
	
	// WORKFLOW PARAMETERS THAT SHOULD NOT BE CHANGED
	// ----------------------------------------
	
	
}


// WHETHER TO GENERATE A REPORT OF RUN STATISTICS
report {
	enabled = true
	file    = "${params.results}/report.html"
}


// WHETHER TO GENERATE A VISUALIZATION OF THE WORKFLOW
dag {
	enabled = true
	overwrite = true
	file = 'workflow-visualization.png'
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
cleanup = params.cleanup


// PROFILE OPTIONS
profiles {
	
	standard {
		
		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false
		
		process.container = "nrminor/sort-and-assemble:v0.0.1"
		
	}
	
	docker {
		
		docker.enabled = true
		singularity.enabled = false
		conda.enabled = false
		
		process.container = "nrminor/sort-and-assemble:v0.0.1"
		
	}
	
	apptainer {
		
		apptainer.enabled = true
		docker.enabled = false
		conda.enabled = false
		
		process.container = "nrminor/sort-and-assemble:v0.0.1"
		
	}

}


// MANIFEST
manifest {
	homePage = ''
	mainScript = 'main.nf'
	defaultBranch = 'main'
	description = ''
	author = ''
}